<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircularProgressBar" version="2.5.6284.35475" targetFramework="net452" />
  <package id="MACTrackBarLib.dll" version="1.0.2" targetFramework="net452" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net452" />
  <package id="paper-behaviors" version="1.0.0" targetFramework="net452" />
  <package id="paper-button" version="1.0.1" targetFramework="net452" />
  <package id="paper-material" version="1.0.0" targetFramework="net452" />
  <package id="paper-ripple" version="1.0.0" targetFramework="net452" />
  <package id="paper-styles" version="1.0.3" targetFramework="net452" />
  <package id="polymer" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-a11y-keys-behavior" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-behaviors" version="1.0.1" targetFramework="net452" />
  <package id="polymer-iron-flex-layout" version="1.0.1" targetFramework="net452" />
  <package id="WinFormAnimation" version="1.5.6284.34583" targetFramework="net452" />
</packages>